@import "../../global.scss";

.container{
    display: flex;
    color: grey;
    background-color: rgb(245, 245, 242);
    min-height: calc(100vh - 70px);
    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        .upper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color:inherit;
            color: #17B978;
            width: 100vw;
            font-size: 25px;
            .serviceintro{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                p{
                    width: 33vw;
                    color: rgb(31, 31, 31);
                    font-size: 20px;
                    @include mobile{
                        width: 80%;
                    }
                }
                h1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .plusIkon{
                        font-size: 65px;
                    }
                }
            }
        }
        .lower{
            width: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @include mobile{
                width: 100%;
            }

            .pharmLogo{
                width: 60px;
                height: auto;
            }            
            > *{
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                width: 33%;
                flex-direction: column;
                @include mobile{
                    width: 100%;
                }
                
                p{
                    width: 50%;
                    display: flex;
                    text-align: center;
                    @include mobile{
                        width: 80%;
                        align-items: center;
                    }
                }
                ul{
                    padding-left: 0;
                    li{
                        list-style: none;
                    }
                }
                .icon{
                    font-size: 60px;
                    color: black;
                }
                h4{
                    color:darkgrey;
                }
                img{
                    font-size: 20px;
                }
                }
        }
        a{
            position: relative;
            bottom: 10px;
            @include mobile{
                display: none;
            }
            .icon{
                color: black;
                font-size: 60px;

            }
        }
    }
    
}