@import "../../global.scss";

.containerAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 242);
    min-height: calc(100vh - 70px);
    .wrapperAbout{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        .upperAbout{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color:inherit;
            color: #17B978;
            width: 100vw;
            font-size: 25px; 
            .upperTitle{
                color: #17B978
            }

        }
        .lowerAbout{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mobile{
                flex-direction: column;
                width: 100%;
            }

        .left{
            display: flex;
            margin: 45px;
            @include mobile{
            }
            img{
                width: 35vw;
                @include mobile{
                    width: 100vw;
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            text-align: left;
            @include mobile{
                align-items: center;
                justify-content: center;
                width: 100vw;
            }
            h3{
                @include mobile{
                    width: 75%;
                }
            }
            span{
                width: 100%;
                @include mobile{
                    width: 75%;
                }
            }
            h5{
                text-align: left;
            }
        }
        }
        
    }   
}