@import "../../global.scss";

.entrance{
    background-color:  #17B978;
    color: white;
    display: flex;
    font-size: 64px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    @include mobile{
        font-size: 23px;
        height: 100vh;
    }

    .logo{
        display: flex;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
        .plusIkon{
            color: white;
            font-size: 200px;
        }
    }
    .titletext{
        display: flex;
        color: black;
        font-size: 20px;
        @include mobile{
            font-size: 10px;
        }

    }
    a{
        position: absolute;
        bottom: 10px;
        color: white;
        padding: 0;
        margin: 0;
        @include mobile{
            display: none;
        }
        .icon{
            font-size: 60px;
            animation: arrowBlink 1.5s infinite;
        }
        @keyframes arrowBlink{
            100%{
                opacity: 0;
            }
        }
    }
}