.apps{
   scroll-snap-type: mandatory;
   scroll-snap-align: start;
   min-height: calc(100vh - 70px);
  

  .sections{
      overflow-x: hidden;
      width: 100%;
      height: calc(100vh - 70px);
      position: relative;
      top: 70px;
      scrollbar-width: none;
      &::-webkit-scrollbar{
         display: none;
      }

      > *{
         width: 100vw;
      }
  }
}